* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: green;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    background: floralwhite;
    text-align: left;
    margin-top: auto;
}

main img {
    max-width: 476px;
    margin: 20px auto;
    display: block;
}

main h1 {
    font-size: 1.2em;
    text-align: center;
}

main li {
    list-style-type: none;
}

main a {
    background: blue;
    list-style-type: none;
    text-decoration: none;
}

main a:hover {
    background: greenyellow;
}

main p,
div {
    max-width: 450px;
    text-align: left;
    text-justify: auto;
    margin: 20px auto;
}

.retorno {
    background: black;
}

.retorno:hover {
    background: red;
}

.principal {
    background: black;
}

.principal:hover {
    background: red;
}